<template>
  <div class="home">
    <!-- <img alt="Vue logo" src="../assets/logo.png"> -->
    <HelloWorld msg="HelloWorld in views/Home.vue"/>
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'
// import UserAuth from '@/components/UserAuth.vue'

export default {
  name: 'Home',
  components: {
    HelloWorld
  }
}
</script>
